@media only screen and (max-width: 600px) {
  .navbar .user {
    grid-column: 4/6;
    grid-row: 1;
    font-size: 0.6rem;
  }

  .navbar .register {
    grid-column: 6/8;
    grid-row: 1;
    font-size: 0.6rem;
  }
  .navbar .menu-bar {
    display: block;
    grid-column: 9/9;
    font-size: 2em;
    cursor: pointer;
  }

  .navbar .menu {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    align-items: flex-end;
    background-color: var(--main-bg-color);
    top: 50px;
    right: -200%;
    transition: all 0.3s;
    font-size: 4vw;
  }
  .navbar .menu-toggle {
    right: -80%;
  }

  .header-text {
    grid-column: 2/10;
  }

  .main-body {
    flex-direction: column;
    gap: 3rem 0;
    align-items: center;
  }

  .box-container-flex {
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 380px) {
  .box-container-grid {
    grid-template-columns: 1fr;
  }
  .box-container-flex {
    width: 100%;
  }
  .description-section {
    width: 90%;
  }
}
